on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v1
      - name: Install Prerequisites
        run: .\build\vsts-prerequisites.ps1
        shell: powershell
      - name: Build
        run: .\build\vsts-build.ps1 -ApiKey $env:APIKEY
        shell: powershell
        env:
          APIKEY: ${{ secrets.ApiKey }}
